@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* fundo de todo o site */
body {
    line-height: 1.6;
    background: #111;
    transition: 0.3s;
    padding: clamp(10px, 2vw, 40px);
    /* padding ajusta sozinho */
}

/* fundo site tema claro */
body.fundoclaro .header {
    background: rgb(226, 221, 221);
    color: black;
}


body.fundoclaro {
    background: #fff;
    color: #111;
}

body.fundoclaro .beneficios-planos,
.vantagens-texto,
.beneficios-grid {
    background: #d4d4d4;
}

body.fundoclaro .btn .beneficios-planos p .beneficios .beneficios h2 .vantagens-container h2 .vantagens-container li .beneficios-cards .beneficios p .beneficios h3 .btn-planos {
    color: black;
}



/* CABEÇALHO - utilizado block para elemenos irem para direita */
.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* ESPAÇAMENTO IGUAL - PRIMEIRO ELEMENTO NO INICIO E SEGUNDO NO FINAL */
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 12px;

}

.logo {
    font-size: 60px;
    font-weight: 800;
    line-height: 42px;
}

.logo span {
    /* (span) usado para estilizar apenas parte do texto */
    color: red;
}

.menu a {
    margin-left: 25px;
    /*adiciona um espaço de 25px à esquerda de cada elemento */
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* Aplicar sombra na class bt, para menu central do cliente */
.menu .btn-primary {
    background: rgb(255, 0, 0);
    padding: 10px 18px;
    border-radius: 4px;
}


/*  USAR PARA display: flex
flex-direction
align itens
justify content
flex 1/2/3*/

/* BANNER */
.banner {

    width: 100%;
    height: 380px;
    background-image: url("imgs/casal2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    /* distância da esquerda */
}

/* CAMADA ESCURA SOBRE O BANNER*/
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

/* TEXTO NO LADO ESQUERDO */
.banner-text {
    position: relative;
    color: #fff;
    max-width: 500px;
    z-index: 1;
    text-align: left;
    /* alinhamento à esquerda */
}

.banner-text h1 {
    font-size: 42px;
    line-height: 1.1;
    margin: 0 0 20px 0;
}

.banner-text p {
    font-size: 20px;
    line-height: 1.4;
}


.banner-text h1 span {
    color: #ff1a1a;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: #ff0000;
    padding: 12px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.5s;
}

.btn {
    background: #ff0000;
}


/* BENEFICIOS */


.beneficios {
    color: #fff;
    text-align: center;
    padding: 60px 6%;
}

.beneficios-planos {
    background-color: rgba(255, 255, 255, 0.08);
    /* Fundo branco */
    padding: 40px 20px;
    text-align: center;
    border: 2px solid #c5c3c3;
    /* borda suave */
    font-family: Arial, Helvetica, sans-serif;
}

.beneficios h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.beneficios h3 {
    color: red;
    margin-bottom: 10px;
    font-size: 30px;
}

.beneficios p {
    font-size: 28px;
}


/* BENEFICIOS cards */
.beneficios-cards {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    /* permite quebrar linha */

    gap: 20px;
    /* espaço entre os cards */
    padding: 30px 20px;
}

/* CARD */
.beneficios-grid {
    flex: 1 1 200px;
    /* largura flexível */
    max-width: 250px;

    padding: 20px;
    border-radius: 12px;
    text-align: center;

    transition: transform 0.3s ease;
}

/* ÍCONES RESPONSIVOS */

.beneficios-grid img {
    width: clamp(50px, 6vw, 80px);
    /*diminui conforme a tela */
    height: auto;
    margin-bottom: 10px;
}

/* TEXTO */
.beneficios-grid h4 {
    font-size: clamp(14px, 1.2vw, 16px);
    line-height: 1.3;
}

.beneficios-grid {
    background: rgba(255, 255, 255, 0.08);
}

/* EFEITO HOVER */
.beneficios-grid:hover {
    transform: translateY(-8px);
}

/* MOBILE */
@media (max-width: 600px) {
    .beneficios-grid {
        max-width: 100%;
    }
}

/* .beneficios-cards {
    background: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.beneficios-grid {
    padding: clamp(1rem, 3vw, 2rem);
    border-radius: 12px;
    text-align: center;
    transition: transform 0.5s;
    margin: 9px;
}

.beneficios-grid:hover {
    transform: translateY(-10px);
}    /*efeito no elemento  */


/*  EXPLIXAÇÃO FIBRA ÓPTICA  */

.vantagens-texto {
    background-color: rgba(255, 255, 255, 0.08);
    /* Fundo branco */
    padding: 40px 20px;
    text-align: center;
    border: 2px solid #c5c3c3;
    /* borda suave */
    font-family: Arial, Helvetica, sans-serif;
}

.vantagens-container {
    text-align: center;
    /* Centraliza tudo */
    padding: 40px 20px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.vantagens-container h2 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #ff0000;
    font-weight: 700;
}

.vantagens-container ul {
    list-style: none;
    color: #fff;
    /* remove marcadores padrão */
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
    /* mangem do texto lista */
    text-align: left;
    /* itens alinhados à esquerda, mas centrados no container */
}

.vantagens-container li {
    font-size: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Pseudo Class  https://symbl.cc*/
.vantagens-container li::before {
    content: '\2705';
    margin-right: 10px;
    color: #00ff6a;
    /* verde igual ao da imagem */
}

/* PLANOS */

.titulo-planos {
    background-color: #ffffff;
    /* Fundo branco */
    padding: 40px 20px;
    text-align: center;
    border: 2px solid #c5c3c3;
    /* borda suave */
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-planos h1 {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.planos {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 40px 0;
    gap: 30px;

}

/*  CARDS PLANOS */

.card {
    width: 260px;
    background: #ffffff;
    padding: 25px;
    border-radius: 6px;
    text-align: center;
}

/* Card central destacado */
.card.destaque {
    background: #ff3b30;
    color: #fff;
    transform: scale(1.06);
}

/* Título (velocidade) */
.card .velocidade {
    font-size: 32px;
    font-weight: bold;
    color: #ff3b30;
}

.destaque .velocidade {
    color: #fff;
}

/* Preço */
.card .preco {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Texto da lista */
.card .info {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 25px;
}

.linha {
    border-top: 2px dashed #33322e;
    width: 70%;
    margin: 8px auto 12px auto;
}

/* Botão ASSINAR */
.btn-planos {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(to right, #8b0000, #d12b2b);
    padding: 10px 40px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* FORMULARIO CONTATO */

.contato {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 85%;

}

/* Texto à esquerda */
.texto {
    color: #dcdcdc;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    max-width: 450px;
}

/* Formulário à direita */
.formulario {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* espaço entre os itens internos */
}

.formulario p {
    font-size: 12px;
    letter-spacing: 1px;
    color: #dcdcdc;
}

.formulario input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #999;
    border-radius: 2px;
    color: white;
    font-size: 14px;
}


/* Botão ENVIAR */
.btn {
    width: 120px;
    padding: 10px;
    background: #ff3b30;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.85;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 1rem;
    color: white;
    border-radius: 12px;
    font-size: clamp(0.8rem, 2vw, 1rem);
}


@media (max-width: 768px) {

    .logo {
        font-size: 42px;
    }

    .beneficios p {
        font-size: 18px;
    }

    .vantagens-container li {
        font-size: 18px;
    }

    .texto {
        font-size: 20px;
        text-align: center;
    }

    .titulo-planos h1 {
        font-size: 20px;
    }
}